:root {
    /* theme from https://www.color-hex.com/color-palette/98179 dark theme */
    --white: #fff;
    --blue: #007acc;
    --gray-1: #c0c0c0;
    --gray-2: #3e3e42;
    --gray-3: #2d2d30;
    --black-1: #252526;
    --black-2: #1e1e1e;
    --box-shadow: 0 1px 4px 0px rgb(0 0 0 / 20%);
}

html {
    font-size: 16px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--gray-3);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--gray-1);
    line-height: 1.6;
}

li, a {
    text-decoration: none;
    color: var(--gray-1);
}

header {
    display: flex;
     /* Pushes left and right item to for edges and items in middle will be evenly spaced */
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: var(--black-2);
    box-shadow: 0 1px 8px var(--black-2);
}

.logo {
    cursor: pointer;
    font-size: 2.25rem;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    margin-left: 20px;
    font-size: 1.25rem;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: var(--white);
}

.fa-instagram,
.fa-twitter,
.fa-facebook,
.fa-linkedin {
    color: var(--gray-1);
    font-size: 1.5rem;
}

.flex-container {
    margin: 5% 10% 5% 10%;
    padding: 50px;
    background: var(--gray-2);
    box-shadow: var(--box-shadow);
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 25px 50px 25px 50px;
}

.flex-wrap > * {
    flex: 1 2 10em;
}

img {
    height: 200px;
    width: 200px;
    box-shadow: var(--box-shadow);
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 5%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: fit-content;
    padding: 10px;
    margin: 0 50px 0 50px;
    border: none;
    background: var(--gray-2);
    border-radius: 5%;
    box-shadow: var(--box-shadow);
}

.card:hover {
    box-shadow: 0 1px 8px 3px rgb(0 0 0 / 20%);
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: ;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}