:root {
    /* theme from https://www.color-hex.com/color-palette/98179 dark theme */
    --white: #fff;
    --blue: #007acc;
    --gray-1: #c0c0c0;
    --gray-2: #3e3e42;
    --gray-3: #2d2d30;
    --black-1: #252526;
    --black-2: #1e1e1e;
}

html {
    font-size: 16px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--gray-3);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--gray-1);
    line-height: 1.6;
}

li, a {
    text-decoration: none;
    color: var(--gray-1);
}

header {
    display: flex;
     /* Pushes left and right item to for edges and items in middle will be evenly spaced */
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: var(--black-2);
    box-shadow: 0 1px 8px var(--black-2);
}

.logo {
    cursor: pointer;
    font-size: 2.25rem;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    margin-left: 20px;
    font-size: 1.25rem;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: var(--white);
}

.fa-instagram,
.fa-twitter,
.fa-facebook,
.fa-linkedin {
    color: var(--gray-1);
    font-size: 1.5rem;
}

.flex-container {
    margin: 100px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 25px 50px 25px 50px;
}

.flex-wrap > * {
    flex: 1 2 10em;
}

img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 5%;
}

hr {
    border: none;
    height: 3px;
    background: linear-gradient(to bottom, var(--black-2), var(--gray-3));
}