:root {
    /* theme from https://www.color-hex.com/color-palette/98179 dark theme */
    --blue: #007acc;
    --gray-1: #c0c0c0;
    --gray-2: #3e3e42;
    --gray-3: #2d2d30;
    --black-1: #252526;
    --black-2: #1e1e1e;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    background: var(--gray-3);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--gray-1);
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: var(--black-2);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;

    position: relative;
}

nav a {
    color: var(--gray-1);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: whitesmoke;
    transition: all ease-out 250ms;
}

nav a:before {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--gray-1);
    
    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.flex-container {
    margin: 100px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 25px 50px 25px 50px;
}

.flex-wrap > * {
    flex: 1 2 10em;
}

img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 5%;
}

hr {
    border: none;
    height: 3px;
    background: linear-gradient(to bottom, var(--black-2), var(--gray-3));
}